#scroll-top-button {
    position: fixed;
    z-index: 97;
    bottom: 0%;
    right: 25%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#scroll-top-button > svg {
    fill: var(--fill-button);
}

@media screen and (max-width: 1200px) {
    #scroll-top-button {
        right: 5%;
    }
}