#tabela-estudo-vem-e-segue-me {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;;
}

#tabela-estudo-vem-e-segue-me > thead > tr > th, 
#tabela-estudo-vem-e-segue-me > tbody > tr > td {
    border-bottom: 1px solid;
    padding: .5rem;
}